@import url(https://unpkg.com/zinccolors/css/zinc.min.css);

* {
  box-sizing: border-box;
}

body {
  --base: var(--zinc-900);
  --surface: var(--zinc-800);
  --overlay: var(--zinc-700);
  --text: var(--zinc-300);
  --bright: var(--zinc-100);
  --dim: var(--zinc-400);

  --accent: #56b6c2;

  background-color: var(--base);
  color: var(--text);
  font-family: Arial, Helvetica, sans-serif;

  max-width: 900px;
  margin: 0 auto;
  padding: 12px;

  /* global font setting */
  font-size: 15px;
  line-height: calc(15px * 1.5);
  font-weight: 500;
}

a {
  color: inherit;
}

a:hover {
  color: var(--bright);
}

.text-dim {
  color: var(--dim);
}

code:not([class^="language-"]) {
  color: var(--accent);
}

pre {
  border-radius: 10px;
  padding: 10px;
  background-color: var(--overlay);
}

.kbd {
  background-color: var(--overlay);
  padding: 4px;
  border-radius: 4px;
  margin: 4px;
}
